*{
    margin: 0;
    padding: 0;
}
header{
    height: 100vh;
    background-image: url('./pic/001.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content{
    color: white;
    font-family: "Lucida Handwriting", cursive;
    font-size: 400%;
    padding: 50px;
    background: rgba(0,0,0,0.4);
    box-shadow: 0 0 10px #000;
}
#logo_img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position:absolute;
    left: 30px; 
    top: 25px;
}
nav{
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0,0,0,0.8);
}
nav .logo{
    flex:1;
    color: #fff;
    margin-left: 100px;
}
nav ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px ;
}
nav ul li a:hover{
    border-bottom: 3px solid cadetblue;
}
#meadia{
    background: rgba(0,0,0,0.8);
    width: 54px;
    height: 138px;
    position:fixed;
    right: 0px; ;
    top: 340px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;  
    z-index: 98;		   
}
.meadia{
margin: 15px;
}
.home_one{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('./pic/006.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-content{
    position: relative;
    right: 100px;
    top: 20px;
    width: 400px;
    color: #fff;
    font-family: Segoe Print;
    font-size: 150%;
    text-align: justify;
    z-index: 97;
}
.slid{
	width: 500px;
	margin-left: 20px;
    position: relative;
    left: 100px;
    top: 20px;
}
#slider{
	overflow: hidden;
    z-index: 96;
}
#slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	animation: 25s slider infinite;
}
#slider figure img{
	width: 20%;
	float: left;
}
    @keyframes slider{
		0%{left: 0;}
		20%{left: 0;}
		25%{left: -100%;}
		45%{left: -100%;}
		50%{left: -200%;}
		70%{left: -200%;}
		75%{left: -300%;}
		95%{left: -300%;}
		100%{left: 0%;}
	}
.img-border{
    position:absolute;
    top: 900px;
    right: 140px;
}    
.home_two{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('./pic/012.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}